version: "3.9"

services:
  main_flask:
    container_name: main_flask
    build: .
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production
      - PYTHONUNBUFFERED=1
    restart: always
    volumes:
      - .:/app
