name: Build and deploy Python app to Azure Web App - statex-ai

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Validate requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Prepare deploy folder
        run: |
          mkdir deploy
          cp -r * deploy

      - name: Zip deploy package
        run: |
          cd deploy
          zip -r ../app.zip .
          cd ..

      - uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: app.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: python-app

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID }}

      - name: Clean previous app
        run: |
          az webapp ssh --name statex-ai --resource-group StartexAI --command "rm -rf /home/site/wwwroot/*"

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'statex-ai'
          package: app.zip
